<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./styles/forside.css" type="text/css">
    <script src="./js/forside.js" defer></script>
    <title>Forside</title>
</head>
<body>
    <header>
        <div><img src="./assets/dogLogo.png" alt=""></div>
        <nav>
            <li>Forside</li>
            <li>Om os</li>
            <li>Login</li>
            <li>Registrer</li>
        </nav>
    </header>
    <main>
        <section id="category">
        <button type="button" onclick="NewCat(this)">Foder</button>
        <button type="button" onclick="NewCat(this)">Snacks</button>
        <button type="button" onclick="NewCat(this)">Legetøj</button>
        <button type="button" onclick="NewCat(this)">Udstyr</button>
        </section>
        <section id="products">
        </section>
    </main>
</body>
</html>